# Make sure you create a ~/.gitignore_global file in your home directory
# to ignore common things like *.o and *~
# and MacOS things like .DS_Store and *.dSYM

# Do NOT push object files to git.
# The following are specific to this directory:
libcs50.a

# System files for MacOS
.DS_Store
Icon?

*.o
*~
